.regForm {
  background-color: white;
  padding: 15px;
}

.formHeaderGroup {
  font-size: larger;
  font-weight: bold;

  margin-top: 25px;
  margin-bottom: 10px;

  border-bottom: 1px solid;
  border-color: #ededf1;
}

.formImage {
  float: left;
  width: 140px;
}
