.regForm {
  max-width: 800px;
  border-color: lightgray;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.formHeaderGroup {
  font-size: larger;
  font-weight: bold;

  margin-top: 25px;
  margin-bottom: 10px;

  border-bottom: 1px solid;
  border-color: #ededf1;
}
