.regForm {
  background-color: white;
  padding: 25px;
  margin: 50px;
  margin-top: 20px;
  position: relative;
}
.rowGroup {
  margin-bottom: 2px;
  padding-left: 2px;
  padding-right: 1px;
}

.formGroup {
  margin-bottom: 2px;
}

.ingredientLink {
  font-size: smaller;
}

.formBox {
  border: 1px solid black;
}

/* .headerRow {

  margin-left:15px;

} */
