.NavBorder {
  border-color: lightgray;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
  border-bottom-style: solid;
}

.NavButton {
  width: 100px;
  margin-right: 10px;
}

.NavBarCustom {
  background-color: blue;
  font-weight: 1000;
}
